@import "./colors.css";
@import "./box.css";

:root {
    --workflow-wrapper-min-height: calc(var(--base-unit) * 20);
    --workflow-wrapper-padding-bottom: calc(var(--base-unit) * 3.75);
    --connector-standard-width: calc(var(--base-unit) * 18.75);
    --box-border-radius: calc(var(--border-radius) * 4);
    --node-border: var(--border-width) solid var(--silver-five);
    --connector-border: var(--border-width) solid var(--battleship-grey);
    --box-width: calc(var(--base-unit) * 37.5);
    --box-height: calc(var(--base-unit) * 13.75);
    --box-padding: calc(var(--base-unit) * 2.5);
    --box-line-height: 1.33;
    --diamond-container-width: calc(var(--base-unit) * 14.6);
    --diamond-container-height: calc(var(--base-unit) * 18.75);
    --diamond-width: calc(var(--base-unit) * 10.75);
    --diamond-border-radius: calc(var(--border-radius) * 1.5);
    --caret-width: calc(var(--base-unit) * 1.3);
    --connector-container-margin-top: calc(var(--base-unit) * 3.25);
    --box-connector-container-height: calc(var(--base-unit) * 15);
    --max-columns: 1000;
    --circle-diameter: calc(var(--base-unit) * 5);
}
