/* autoprefixer grid: on */
@import url("https://use.fontawesome.com/releases/v5.8.0/css/all.css");
@import "./gridVariables.css";
@import "./box.css";
@import "./colors.css";

.wrapper {
  display: grid;
  grid-template-columns: repeat(var(--max-columns), 2fr 1fr);
  min-height: var(--workflow-wrapper-min-height);
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: var(--workflow-wrapper-padding-bottom);
}

.top {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.bottom {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.foundation {
  position: relative;
  left: 0;
  top: 0;
  z-index: -1;
}
.boxContainer {
  width: var(--box-width);
  height: var(--box-height);
}

.box {
  margin-top: calc(var(--base-unit) * 4.5);
  width: var(--box-width);
  border: var(--node-border);
  border-radius: var(--box-border-radius);
  height: var(--box-height);
  padding: var(--box-padding);
  align-self: auto;
  line-height: var(--box-line-height);
}
  
.diamondContainer {
  margin: calc(var(--base-unit) * 6.25) calc(var(--base-unit) * 2) 0;
  transform: rotate(45deg);
}
  
.diamond {
  width: var(--diamond-width);
  height: var(--diamond-width);
  border: var(--node-border);
  border-radius: var(--diamond-border-radius);
  z-index: 2;
  position: relative;
}

.connectorContainerStandard {
  width: var(--connector-standard-width);
  height: var(--box-connector-container-height);
  margin-top: var(--connector-container-margin-top);
}

.connectorContainerDiamond {
  width: var(--diamond-container-width);
  height: var(--diamond-container-height);
  margin-top: 0;
  margin-bottom: calc(var(--base-unit) * -0.5);
}

.connectorContainerBox {
  width: var(--box-width);
  height: var(--box-connector-container-height);
  margin-top: var(--connector-container-margin-top);
}

.connectorContainerDiamond .line {
  height: 63%;
}

.connectorContainerDiamond .lineLong {
  width: calc(var(--diamond-container-width) * 1.16);
}

.hidden {
  visibility: hidden;
}

.arrowRight {
  width: 100%;
}

.lineHoriz {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.lineVert {
  height: 120%;
  margin-left: 50%;
  margin-top: -80%;
  border-left: var(--connector-border);
}

.lineVert .lineLong {
  border-left: var(--connector-border);
}

.circle {
  position: relative;
  background-color: var(--tealish);
  height: var(--circle-diameter);
  width: var(--circle-diameter);
  border-radius: 50%;
  display: flex;
  z-index: 3;
}

.hoverable .circle:hover {
  background-color: var(--dark-sky-blue); 
}

.circle:focus {
  outline: none;
}

.circle i {
  display: block;
  margin: auto;
  color: var(--white);
  font-size: calc(var(--base-unit) * 3);
}

.connectorContainerStandard .circle {
  margin-top: calc(var(--box-height) / 2.4);
}

.arrowRight .caret {
  position: relative;
  margin-left: calc(var(--base-unit) * -2);
  top: calc(var(--base-unit) * 7);
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.line {
  align-self: auto;
  border-bottom: var(--connector-border);
  position: relative;
  height: 57%;
}

.lineLong {
  width: 100%;
}

.arrowRight .lineLong {
  width: 90%;
  margin-top: 33px;
}

.arrowRight .lineShort {
  width: 25%;
  margin-top: 33px;
}

.arrowRight .lineShortArrow {
  width: 21%;
  margin-top: 33px;
}

.lineHoriz .lineShort {
  width: 27%;
  margin-top: 33px;
}

.caret {
  display: inline-block;
  color: var(--battleship-grey);
  box-sizing: border-box;
  width: 0;
  height: 0;
  border: var(--caret-width) solid transparent;
  border-top: var(--caret-width) solid;
  border-right: var(--caret-width) solid;
}

.caretRight {
  transform: rotate(45deg);
}

.caretDown {
  transform: rotate(135deg);
}

.caretUp {
  transform: rotate(315deg);
}

.box .caret {
  color: var(--dark-grey-two);
}

.connectorContainerBox .rightUpArrow {
  height: calc(var(--box-height) * 0.7);
  width: calc(var(--box-width) * 0.6);
  top: calc(var(--base-unit) * -1.25);
  left: 0;
  position: relative;
  width: calc(var(--box-width) / 1.8);
  margin-top: calc(var(--base-unit) * 4.5);
}

.rightUpArrow .rightUp {
  width: 90%;
  height: 99%;
  top: calc(var(--base-unit) * -1);
  left: 0;
  position: relative;
}

.rightUp {
  border-bottom: var(--connector-border);
  border-right: var(--connector-border);
}

/* TODO: create
.connectorContainerBox .rightUp {
  width: calc(var(--box-width) * 0.5); 
}
*/

.connectorContainerBox .rightUpContainer {
  width: calc(var(--box-width) * 0.5);
  height: calc(var(--box-height) * 1.3);
  position: relative;
  top: calc(var(--box-height) * -0.9);
}

.rightUpContainer .rightUp {
  width: 100%;
  height: 110%;
}

.rightUpArrow .caret {
  margin-left: -0.36em;
  margin-top: -9px;
}

.downRight {
  border-bottom: var(--connector-border);
  border-left: var(--connector-border);
  height: 100%;
  width: 59%;
  z-index: -1;
}
.upRight {
  position:relative;
  border-top: var(--connector-border);
  border-left: var(--connector-border);
  height: 42%;
  width: 50%;
  margin-left: 50%;
  margin-top: 79%;
}

.downRightDash {
  width: 190%;
}

.downRightDash .downRight {
  border-bottom: var(--border-width) dashed var(--battleship-grey);
  border-left: var(--border-width) dashed var(--battleship-grey);
  height: 100%;
  width: 51%;
  z-index: -1;
}

.downRightDash span {
  margin-top: calc(var(--base-unit) * 10);
  margin-left: calc(var(--base-unit) * 3.5);
  z-index: 2;
}

.connectorContainerDiamond .downRight {
  height: 74px;
  margin-top: -2px;
  top: -20px; /* Fudge factor */
  left: calc(var(--diamond-container-width) * 0.5);
  position: relative;
  z-index: -1;
}

.themeDark {
  background-color: var(--battleship-grey);
  color: var(--white);
}

.hoverable .themeDark:hover {
  background-color: var(--gunmetal);
  color: var(--light-grey);
}

.themeDark i {
  color: var(--white) !important;
}

.themeLight .highlighted {
  color: var(--tealish)
}

.themeLight {
  background-color: var(--white);
  color: var(--charcoal-grey);
}

.hoverable {
  cursor: pointer;
}

.hoverable:focus {
  outline: none;
}

.hoverable .themeLight:hover {
  background-color: var(--light-grey);
  color: var(--gunmetal);
}

.themeLight .highlighted {
  color: var(--tealish)
}

.themeLight i {
  color: var(--heather);
}

.workflowStepDisplayName {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: calc(var(--base-unit) * 5);
}

.box p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box .caret {
  margin-left: calc(var(--base-unit) * 2.4);
}

.box .caretUp {
  margin-bottom: calc(var(--base-unit) * -0.75);
}

.box .caretDown {
  margin-bottom: calc(var(--base-unit) * 0.75);
}

.iconContainer {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.iconContainerDiamond {
  display: inline-block;
  text-align: center;
  transform: rotate(45deg);
}

.iconContainerDiamond i {
  color: var(--charcoal-grey);
  font-size: 20px;
  padding: 10px;
  margin-bottom: 12px;
}

/* DEBUGGING CODE BEGIN */
/* Code for debugging only. Remove for production */
.flowchartContainer {
  padding-top: 100px;
  max-width: 90%;
  display: block;
  margin-left: 10%;
  margin-right: auto;
}

.flowchartContainer button {
  font-size: 18px;
  border: var(--node-border);
  margin-left: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 80px;
  cursor: pointer;
}

.toggleEdit {
  background-color: var(--white);
  color: var(--battleship-grey);
}

.toggleEditHighlight {
  background-color: var(--tealish);
  color: var(--white);
}
.workflowStepDisplayName p {
  font-size: 14px;
}
/* DEBUGGING CODE BEGIN */
/* Code for debugging only. Remove for production */
#flowchart-container {
  padding-top: 100px;
  max-width: 100%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}
.debug .top .col1 {
  background-color: rgba(88, 88, 233, 0.5);
}
.debug .bottom .col2 {
  background-color: rgba(233, 233, 88, 0.5);
}
.debug .top .col3 {
  background-color: rgba(88, 88, 233, 0.5);
}
.debug .bottom .col4 {
  background-color: rgba(233, 233, 88, 0.5);
}
.debug .top .col5 {
  background-color: rgba(88, 88, 233, 0.5);
}
.debug .bottom .col6 {
  background-color: rgba(233, 233, 88, 0.5);
}
.debug .top .col7 {
  background-color: rgba(88, 88, 233, 0.5);
}
.debug .bottom .col8 {
  background-color: rgba(233, 233, 88, 0.5);
}
.debug .top .col9 {
  background-color: rgba(88, 88, 233, 0.5);
}
.debug .bottom .col10 {
  background-color: rgba(233, 233, 88, 0.5);
}
.debug .top .col11 {
  background-color: rgba(88, 88, 233, 0.5);
}
.debug .bottom .col12 {
  background-color: rgba(233, 233, 88, 0.5);
}
.debug .top .col13 {
  background-color: rgba(88, 88, 233, 0.5);
}
.debug .bottom .col14 {
  background-color: rgba(233, 233, 88, 0.5);
}

/* DEBUGGING CODE END */