.storybookWrapper {
    padding: 50px;
}

.workflowStepWrapper {
    display: grid;
    grid-template-columns: repeat(var(--max-columns), 2fr 1fr);
}

.storybookWrapper * {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}